.project-page {
  width: 50vw;
  padding: 1.2rem;
  margin: 0 auto;
  margin-bottom: 15rem;

  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
}

.project-page h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;

  margin-top: 4.8rem;
}

.project-page *:not(h1) {
  font-size: 1.4rem;
  line-height: 3.2rem;
}

.project-page a {
  color: #60935d;
}

.project-back {
  color: #152128;
  text-decoration: underline;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  letter-spacing: 1px;

  border: none;
  background: none;
  padding: 0.6rem;
  position: fixed;
  top: 4.8rem;
  left: 4.8rem;
}

.project-back:hover {
  cursor: pointer;
}

.project-page .project-title {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 4.8rem;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;

  margin-top: 2.4rem;
}
