.header {
  display: flex;
  height: 20rem;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  gap: 0;
}

.header h1 {
  font-size: 4rem;
}

.header h2 {
  margin-top: -8rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}
