body {
  background-color: #f5f5f5;
  font-family: sans-serif;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-serif-light {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
}
